<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Configuration 노드의 다음노드는 항상 이 태그가 먼저 와야함 그 이후의 ㅅ순서는 상관없음...-->
  </configSections>
  
  <appSettings>
    <add key="SMTPSender" value="vhxpffltm@naver.com"/>
    <add key="SMTPHost" value="asdlkj@Medium.com"/>
    <add key="SMTPPort" value="1234"/>
    <add key="SMTPId" value="id"/>
    <add key="SMTPPassword" value="password"/>
    <!-- 위 값을 읽기위해 Manager 객체를 이용해야함, 래퍼런스 추가해야함, 참조에서 추가가능 -->
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>